* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INDEX*/

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#wrap h2 {
    font-size: 32px;
}

#main-block {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 23px;
}

#main-block div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    gap: 25px;
    background-color: whitesmoke;
    border: 1px solid #353535;
}

#main-block div button {
    background-color: #a6a5a5;
    border: 1px solid #676767;
    padding: 7px;
    color: white;
    font-size: 20px;
}

#main-block div button:hover {
    background-color: #616161;
    border: 1px solid #292929;
}

/*USER DETAILS*/

.user-block {
    width: 370px;
    height: 600px;
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #4e4e4e;
}

.user-block p {
    font-size: 20px;
    margin-bottom: 5px;
}

.user-block h2 {
    margin-bottom: 10px;
    text-align: center;
}

.user-block div {
    margin-top: 10px;
}

.inner-block {
    margin: 0 0 10px 15px;
}

.heading-capital-letter {
    text-transform: capitalize;
}

.posts-button-center {
    width: 90vw;
    height: 7vh;
    margin: 0 auto 25px auto;
    display: block;
    background-color: #a9c4c5;
    border: 1px solid gray;
    font-size: 17px;
}

.posts-button-center:hover {
    background-color: #84b1b3;
    border: 1px solid #292929;
}

.post-title-block {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 0 15px 0 15px;
}

.post-title-block div {
    padding: 10px;
    text-align: center;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid gray;
    font-size: 19px;
}

.post-title-block div button {
    background-color: #b4ecec;
    padding: 5px 10px;
    border: 1px solid #4a4a4a;
    font-size: 16px;
}

.post-title-block div button:hover {
    background-color: #8dbdbd;
    border: 1px solid #353535;
}

/*POST DETAILS*/

.post-block {
    background-color: beige;
    max-height: 345px;
    width: 350px;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #4a4a4a;
}

.post-block h2 {
    margin-bottom: 10px;
    text-align: center;
}

.post-block p {
    margin-bottom: 5px;
    font-size: 20px;
}

.heading-center {
    text-align: center;
    font-size: 24px;
}

.comments-block {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

.comments-block div {
    background-color: #fbf2e5;
    padding: 15px;
    border: 1px solid #353535;
    font-size: 20px;
}

.comments-block div p {
    margin-bottom: 5px;
}





